.common{
    
    background-color:#616161;
    color: white;
    font-style:inherit;
    
}
div > .head1, .head2{
    
    margin: 50px 80px;
}

div > .head1>h2, .head2 >h3{
  letter-spacing: 1px;
  font-weight: normal;
  text-align: center;
}

div > .head1{
    padding: 20px 50px;
}
    
div > .foot> .box{
    width: 200px;
    height: 200px;
    border: 6px solid black;
    display:inline-block;
    background-color:lavender;
    margin: 30px 50px;
    
}
div> .foot{
    padding: 0 150px
}